# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
ENV/
.venv/
.env/

# VSCode settings
.vscode/

# PyCharm project settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log

# Python environment files
*.env
*.venv
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Cache files
*.swp
*.swo
*.swn
.cache/
*.bak

# Temporary files created by editors
*~
*.tmp

# ZIP files
*.zip
